<div id="page-container">
   
    <!-- BEGIN #content -->
    <div id="content" class="content">
        <!-- BEGIN breadcrumb -->
        <div class="breadcrumb" ncy-breadcrumb>
        </div>
        <!-- END breadcrumb -->
        <!-- BEGIN page-header -->
        <div ui-view="header"></div>
        <!-- <h1 class="page-header">
           {{ Starter Page }}<small>page header description goes here...</small>
        </h1> -->
        <!-- END page-header -->
        <div ui-view="content"></div>
    </div>
    <!-- END #content -->

    <!-- BEGIN btn-scroll-top -->
    <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="ti-arrow-up"></i></a>
    <!-- END btn-scroll-top -->


</div>

